<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp datePattern="yyyy-MM-dd_HH-mm-ss" key="logFilename"></timestamp>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"></appender-ref>
    </root>

</configuration>
