@import 'tailwindcss';

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-in-out;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in-out;
}
